.crsl-TopSell .card-Carousel-Holder {
        min-width: auto;
        overflow: hidden;
        position: relative;
        padding: 0;
      }
      ul.cards {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: -moz-max-content;
        width: -webkit-max-content;
        overflow: hidden;
        transition: 0.6s ease-out left;
        -webkit-transition: 0.6s ease-out left;
        -moz-transition:  0.6s ease-out left;
        -o-transition:  0.6s ease-out left;
      }

      .cards li {
        float: left;
        width: 238px;
        background-color: #B13E3E;
        height:300px;
        margin: 0 16px 16px 0;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(18, 18, 18, 0.08);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(18, 18, 18, 0.08);
      }

      .carouselWrapper {
        position: relative;
      }

      .scroll-Left, .scroll-Right {
        &:focus {
          outline: none;
        }
      }

      .scroll-Left {
        position: absolute;
        left: 24px;
        top: 100px;
        width: 65px;
        height: 92px;
        cursor: pointer;
        z-index: 1;
        background: url('/assets/images/crsl-arrow-left.png') top left no-repeat;
        border: none;
      }
      .scroll-Right {
        position: absolute;
        right: 24px;
        top: 100px;
        width: 65px;
        height: 92px;
        background-color: rgba(233, 231, 226, 0.8);
        cursor: pointer;
        z-index: 1;
        background: url('/assets/images/crsl-arrow-right.png') top left no-repeat;
        border: none;
      }


      .carousel {
          position: relative;
          overflow: hidden;
      }

      .sc-carousel ul {
          position: relative;
          list-style: none;
          margin: 0;
          padding: 0;
      }

      .sc-carousel li {
          position: relative;
          float: left;
      }
      .fadeout {
        width: 64px;
        height: 285px;
        background-image: linear-gradient(to right, transparent 0%, #f8f8f6 100%);
        z-index: 99;
      }
