<div class="container-fluid">
    <nav class="navbar navbar-sams navbar-fixed-top">
      <a class="navbar-brand" href="#">
        <img style="height: 30px" class="img-responsive" alt="Brand" src="/images/logo-large.png">
      </a>
    </nav>
    <speech-recognition></speech-recognition>
    <club-listing ng-show="ac.showClubs"></club-listing>
    <product-listing ng-show="ac.showProducts"></product-listing>
    <!-- <club-listing></club-listing>
    <product-listing></product-listing> -->
</div>
