<section class="cart-view">
  <h1>Cart</h1>
  <div class="row cart-item" ng-repeat="item in cart.cartItems track by $index">
    <div class="col-md-3">
      <img class="img-responsive" ng-src="{{item.li}}" alt="">
    </div>
    <div class="col-md-7">
      <h2>{{item.n}}</h2>
      <h4 ng-bind-html="item.sd"></h4>
    </div>
    <div class="col-md-2 text-center">
      <div class="cart-item-price">{{item.dp}}</div>
      <button class="cart-item-remove btn btn-danger" ng-click="cart.removeItem(item)">Remove</button>
    </div>
  </div>
</section>
